@font-face {
	font-family: PaulGotesk;
	font-weight: bold;
	src: url("./fonts/PaulGotesk-Bold.otf") format("opentype");
}

@font-face {
	font-family: PaulGotesk;
	font-weight: normal;
	src: url("./fonts/PaulGotesk-Regular.otf") format("opentype");
}

@font-face {
	font-family: Zefani;
	font-weight: normal;
	src: url("./fonts/Zefani-Regular.otf") format("opentype");
}